<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<title>Aggiungi foto</title>
<body>
	<div>
		<h4>Inserisci i dati della foto</h4>
	</div>
	<form th:action="@{/foto}" method="POST" th:object="${foto}" >
		<table>
			<tr>
				<td>url:</td>
				<td><input type="text" th:field="*{url}" /></td>
				<td th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></td>
			</tr>
			<tr>
				<td>Fotografo:</td>
				<td><input type="text" th:field="*{fotografo}" /></td>
				<td th:if="${#fields.hasErrors('fotografo')}" th:errors="*{fotografo}"></td>
			</tr>
			<tr>
				<td>
					<button type="submit">Invio</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
<!--  -->