<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<title>Album</title>
<body>
	<h1>StockImaegs</h1>
	<header>
		<div>Ecco le informazioni riguardo l'album richiesto</div>
	</header>
	<section>
		<div>
			Nome: <span th:text="${album.nome}">qui ci va il nome
				dell'album</span>
		</div>
		<div>
		<p>Lista foto:</p>
			<ul>
				<th:block th:each="foto :  {album.fotoLista}">
					<li th:text="${foto}"></li>
			</ul>
		</div>
	</section>
</body>
</html>