<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<title>Fotografo</title>
<body>
	<h1>StockImages</h1>
	<header>
		<div>Ecco le informazioni sui fotografi</div>
	</header>
	<section>
	<th:block th:each="fotografo : ${fotografi}">
		<div>
			Nome: <span th:text="${fotografo.nome}">nome</span>
		</div>
		<div>
			Cognome: <span th:text="${fotografo.cognome}">cognome</span>
		</div>
		</th:block>
	</section>
</body>
</html>