
<!DOCTYPE html>
<html lang="it">
<head>
<title>StockImages</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/resources/static/assets/css/main.css" >
</head>
<!-- <body>
	<header>
		<b>Benvenuto su StockImages, un sito web di immagini stock di
			proprietà di SILPH SPA</b>
		<div>sfoglia tra le immagini e trova le tue preferite</div>
	</header>
	<section>
		<a href="">Entra in StockImages come ospite</a>&emsp;  | 
			&emsp;<a href="">Entra in StockImages come admin</a>
	</section>
</body> -->
<body>
	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="index.html" class="active"><span
						class="icon fa-home"></span></a></li>
				<li><a href="gallery.html"><span
						class="icon fa-camera-retro"></span></a></li>
				<li><a href="generic.html"><span
						class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main">

			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Benvenuto su StockImages</h1>
					<p>
						Un sito in cui puoi sfogliare le migliori foto dei migliori album
					</p>
					<p>Vuoi loggarti come admin? <a href="/login">Clicca qui!</a></p>
					<p>Entra come ospite <a href="/presentazione">Clicca qui!</a></p>
<!-- 					<ul class="actions"> -->
<!-- 						<li><a href="#galleries" class="button alt scrolly big">Continua</a></li> -->
<!-- 					</ul> -->
				</div>
			</section>

			<!-- Gallery --> 
 			<section id="galleries">

<!-- 				Photo Galleries -->
<!-- 				<div class="gallery"> -->
<!-- 					<header class="special"> -->
<!-- 						<h2>Sfoglia le immagini e scegli le tue preferite</h2> -->
<!-- 					</header> -->
<!-- 					<div class="content"> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/01.jpg"><img src="images/thumbs/01.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/05.jpg"><img src="images/thumbs/05.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/02.jpg"><img src="images/thumbs/02.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/06.jpg"><img src="images/thumbs/06.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/03.jpg"><img src="images/thumbs/03.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 						<div class="media"> -->
<!-- 							<a href="images/fulls/07.jpg"><img src="images/thumbs/07.jpg" -->
<!-- 								alt="" title="This right here is a caption." /></a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<footer> -->
<!-- 						<a href="gallery.html" class="button big">Guarda tutti gli -->
<!-- 							album</a> -->
<!-- 					</footer> -->
<!-- 				</div> -->
			</section>

			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
				<div class="social column">
					<h3>Informazioni sul sito</h3>
					<p></p>
					<p></p>
				</div>

				<!-- Form -->
				<div class="column">
					<h3>Get in Touch</h3>
					<form action="#" method="post">
						<div class="field half first">
							<label for="name">Name</label> <input name="name" id="name"
								type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label> <input name="email" id="email"
								type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"
								placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button" type="submit"></li>
						</ul>
					</form>
				</div>

			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Sito realizzato da: Omar Moh'd, Andrea Belkhir e Giacomo
					Bellini. Stile ispirato da <a href="https://templated.co/">Templated</a>.
					Immagini: <a href="https://unsplash.com/">Unsplash</a>.
				</div>
			</footer>
		</section>
	</div>
</body>
</html>