<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<title>Admin</title>
<body>
	<h4>Dati Admin</h4>
	<div>
		Username: <span th:text="${username}">fulvio</span>
	</div>
	<div>
		<table>
			<tr>
				<td><a href="/addFoto">Vuoi aggiungere una Foto?</a></td>
			</tr>
			<tr>
				<td> <a href="/addFotografo">Vuoi aggiungere un Fotografo?</a></td>
			</tr>
			<tr>
				<td> <a href="/addAlbum">Vuoi aggiungere un Album?</a></td>
			</tr>
		</table>
	</div>
	<h5>
		<a href="/logout">Logout</a>
	</h5>
</body>
</html>