<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html" lang="it">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
	<header>
		<b>StockImages</b>
	</header>
	<section>
			<table>
				<tr>
					<th:block th:each="foto : ${foto}">
						<td><a th:href="@{'/foto' + '/' + ${foto.id}}"><span th:text="${foto.url}"></span></a></td>
				</tr>
			</table>
	</section>
	<aside>
		<form th:action="@{/fotografoVisualizza}" method="POST" th:object="${fotografo}">
			<div>Cerca un fotografo</div>
			<div>
				&ensp; Nome:<input type="text" th:field="*{nome}" /> &ensp;<span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				Cognome:<input type="text" th:field="*{cognome}" /> &ensp;<span
					th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<button type="submit">Invia</button>
			</div>
		</form>
		<form th:action="@{/fotoVisualizza}" method="POST" th:object="${foto}">
			<div>
				Cerca una foto<input type="text" th:field="*{nome}" /> &ensp;<span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<button type="submit">Invia</button>
			</div>
		</form>
		<form th:action="@{/albumVisualizza}" method="POST"
			th:object="${album}">
			<div>
				Cerca un album<input type="text" th:field="*{nome}" /> &ensp;<span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<button type="submit">Invia</button>
			</div>
		</form>
	</aside>
	<aside>
		<div>Carrello:</div>
		<ul>
			<th:block th:each="foto : ${carrello.foto}">
				<li th:text="${foto.url}"></li>
		</ul>
		<a href="/richiestaContratto"><button type="submit">Conferma</button></a>
	</aside>
</body>
</html>